<!DOCTYPE html>
<html>
<head>
    <title><%= imdb[0].movietitle%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include  templates/header.ejs%>
<h3> <%=imdb[0].movietitle%> </h3>
<p> <%=imdb[0].summary%></p>
</body>
</html>