<!DOCTYPE html>
<html>
<head>
    <title>Edit Summary</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>

<header>
    <% include templates/header.ejs %>
</header>

<h2>Edit Summary for <%=film[0].movietitle%></h2>

<div id = "editor">
    <textarea name="summary" form="editme"><%=film[0].summary%></textarea>
    <form method="post" name="editme" action="/edit">
        Search For a movie:<br>
        <input type="hidden" value="<%=film[0].movietitle%>">
        <input type="submit" value="Submit changes">
        <br>
    </form>
</div>


<footer>
    <% include templates/footer.ejs %>
</footer>
</body>
</html>