<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/index.css'/>
</head>
<header>
    <% include templates/header.ejs %>
</header>

<body>
<div class=jumbotron>
    <div id="searchbar">
        <form method="post" action="/results">
            <input type="text" name="firstname" placeholder="Enter keyword...">
            <select name="searchtype">
                <option value="Search Movies">Search Movies</option>
                <option value="Search Actors">Search Actors</option>
                <option value="Search Directors">Search Directors</option>
                <option value="Search Genres">Search Genres</option>
            </select>
            <input type="submit" value="Search">
            <br>
            <br>
        </form>
    </div>
    <div id="moviesz">
        <section id="movieDisplay">
            <% include templates/moviedisplay.ejs %>
        </section>
    </div>
</div>
</body>

<footer>
    <% include templates/footer.ejs %>
</footer>
</html>