<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include  templates/header.ejs%>
<h3> <%=name%> </h3>

<form method="post" class="pure-form pure-form-aligned" action="/register">
    <fieldset>
    <legend><h1 class="pure-splash-subhead midnightblue">Register</h1>
    </legend>
    	<div class="pure-control-group">
        <p class="text-center red"></p>
            <label for="fname">First Name</label>
            <input required name="fname" class="pure-u-1-3" placeholder="John">
        </div>
        <div class="pure-control-group">
        <p class="text-center red"></p>
            <label for="lname">Last Name</label>
            <input required name="lname" class="pure-u-1-3" placeholder="Smith">
        </div>
        <div class="pure-control-group">
        <p class="text-center red"></p>
            <label for="email">Username</label>
            <input required name="username" class="pure-u-1-3" placeholder=" ">
        </div>
        <div class="pure-control-group">
        <p class="text-center red"></p>
            <label for="confirmEmail">Password</label>
            <input required name="pw" class="pure-u-1-3" type="password">
        </div>
        <div class="pure-control-group">
        <p class="text-center red"></p>
            <label for="password">Email Address</label>
            <input required name="email" class="pure-u-1-3" type="email" placeholder="example@example.com">
        </div>
        <div class="pure-control-group">
        <p class="text-center red"></p>
            <label for="confirmPassword">Confirm Email</label>
            <input required name="confirmEmail" class="pure-u-1-3" type="email" placeholder="example@example.com">
        </div>
        <br/>
        <div class="pure-u-1 ">
            
            <br/>
            <input type='submit'class="pure-button pure-button-secondary pure-u-1-3" value="Register">
            <br/>
        </div>
        <br/>
        <br/>
</body>
</html>
